fastapi==0.89.1
torch==1.13.0 --extra-index-url https://download.pytorch.org/whl/cpu
uvicorn==0.18.3
transformers==4.26.1
pydantic==1.10.4
gensim==4.3.0
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz